.card-sound-input {
  cursor: pointer;
}

.card-sound-input--image {
  width: 20px;
  height: 20px;
}

.card-sound-input--title {
  margin-left: 15px;
}

.card-sound-input--input {
  visibility: hidden;
  width: 0;
  height: 0;
}

.admin-words-list-card--image-input {
  visibility: hidden;
  width: 0;
  height: 0;
}