.game-result {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 15px;
}

.game-result__primary {
  text-align: center;
  font-size: 52px;
  font-weight: normal;
  color: tomato;
}

.game-result__secondary {
  font-size: 34px;
  font-weight: normal;
  color: #1130b8;
}

.game-result__image {
  margin-top: 35px;
  max-width: 450px;
  width: 100%;
  height: auto;
}

@media (max-width: 420px) {
  .game-result__primary{
    font-size: 38px;
  }

  .game-result__secondary {
    font-size: 24px;
  }
  
}