.admin-page-category-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 18px;
  width: 290px;
  height: 310px;
  border: 1px solid gray;
  border-radius: 15px;
  padding: 20px;
}