.admin-page-categories-list {
  max-width: 610px;
  display: flex;
  justify-content: center;
  column-gap: 25px;
  row-gap: 25px;
  list-style-type: none;
  flex-wrap: wrap;
  margin: 35px auto 25px;
}